:root body #mainMenu {
  float: left;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.4);
  border-bottom: solid 1px rgba(0,0,0,0.125);
  z-index: 11;
}
:root body #mainMenu #menuOptionsManager {
  float: left;
  height: 50px;
}
:root body #mainMenu #menuOptionsManager .optionMainMenu {
  float: left;
  height: 100%;
  width: 150px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  color: rgba(255,255,255,0.7);
  transition: 0.4s linear;
}
:root body #mainMenu #menuOptionsManager .optionMainMenu:hover {
  background-color: rgba(0,0,0,0.5);
}
:root body #mainMenu #menuOptionsManager .optionMainMenuSeparator {
  float: left;
  margin-top: 5px;
  width: 2px;
  height: 40px;
  background-color: rgba(255,255,255,0.5);
}
:root body #mainMenu #languageSelect {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  height: 40px;
  width: 80px;
  padding-left: 5px;
  background-color: rgba(255,255,255,0);
}
