
#notFoundApp

    h2#title {{ language.label.error }}
    h5.subtitle {{ language.message.frontend.error.pageNotFound }}
    h5.subtitle(style="font-size: 14px;") {{ language.message.frontend.advise.redirectingToHome }}

    .w3-container
        .w3-light-grey
            #myBar.w3(style="height: 3px; width: 0; border-radius: 2px; background-color: rgba(0, 0, 0, .5);")

include ./vue
