
:root

    body

        // Main Header
        #mainHeader
            float: left
            height: 100px
            width: 100%
            background-color: rgba(0, 0, 0, .03)
            border-bottom: solid 1px rgba(0, 0, 0, .125)
            z-index: 11

            #centeredLogo
                float: left
                height: 80px
                width: 80px
                margin-top: 10px
                margin-left: calc(50% - 30px)
                background-color: rgba(0, 0, 0, .4)
                border-radius: 10px