
#mainFooter
    .card-footer.text-muted.small(style="background-color: rgba(0, 0, 0, 0); color: rgba(220, 220, 220, 1) !important;") &#x276F; More demos at 
                a.text-muted(href='https://quarantine.country') Coronavirus Dashboard
                | &#x2699; Build even more with 
                a.text-muted(href='https://github.com/Yatko/Coronavirus-API') Coronavirus API

script(src='/res/js/util.js')

include ./vue