<!DOCTYPE html>
html(lang=`${ data.language.app.language }`)

    head

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(charset='UTF-8')

        link(href='/res/css/bootstrap.min.css' rel='stylesheet')
        link(href='/res/css/covid-19-demo.css' rel='stylesheet')
        link(href='/res/css/svgMap.min.css' rel='stylesheet')
        link(href='/res/css/main.css' rel='stylesheet')
        link(href='/res/css/w3.css' rel='stylesheet')

        script(src='/res/js/jquery-3.4.1.min.js')
        script(src='/res/js/svgMap.min.js')
        script(src='/res/js/vue.js')
        
        title #{ data.language.app.name }